body {
  margin: 0;
  font-family: var(--font-family);
  background: var(--surface-ground);
  color: var(--text-color);
}

#root {
  min-height: 100vh;
}

.p-password.w-full .p-icon-field {
  width: 100%;
}
